.logo {
  display: block;
  max-width: max-content;
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.lista-navegaçao {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 1.3rem;
}
.lista-navegaçao a {
  text-decoration: none;
  color: #000;
}
