* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}
img {
  display: block;
}
ul {
  list-style: none;
}
